body{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 50;
    line-height: 1.5;
}

@font-face{
    font-family: dT;
    src: url('fonts/Oswald.ttf');
}

@font-face{
    font-family: fatface;
    src: url('AbrilFatface-Regular.otf');
}


a{
    color: rgb(68, 68, 68);
    text-decoration: none;
    font-weight: bold;
}

/* FORSIDE */
.nav-container{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 0px;
    font-family: 'dT';
    font-size: 25px;
}

    .nav-container a{
        color: rgb(68, 68, 68);
        font-weight: 50;
    }

    .nav-container a:hover{
        font-weight: bold;
    }

    @media all and (max-width: 600px){
        .nav-container{
        flex-wrap: wrap;
        }
        .nav-container > li{
        flex-basis: 50%;
        }
    }

    @media all and (max-width: 400px){
        .nav-container > li{
        flex-basis: 100%;
        }
    }

    /* Bottom left text */
    /* Container holding the image and the text */
    .container {
      position: relative;
      margin: 0px;
    }

    /* Bottom right text */
    .text-block {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: transparent;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0px;
      left: 0px;
    }

p{
  margin: 0px;
}

h1{
  font-family: Abril Fatface;
  font-size: 80px;
    margin-bottom: -20px;
    margin-top: -20px;
    padding:0px;
}

h2{
  font-family: Abril Fatface;
  font-size: 20px;
  margin-bottom: 0px;
    padding:0px;
}


.button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}


.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    grid-column-gap: 1%;

}

    .portfolio-containertext{
        text-align: left;
        font-family: 'Montserrat';font-size:13px;
        font-weight: 100;
        padding-top: 3%;
        padding-bottom: 10%;
    }

    @media screen and (max-width: 600px){
        .portfolio-container{
        grid-template-columns: 1fr;
        }
    }
